{% extends 'reviewapp/layout.html' %}

    {% load static %}
    <link rel="stylesheet" href=" {% static "stylesheet.css" %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

{% block content %}

<h3 style="font-family: GistRoughLightThree; background-color:#A0892C" class="center-align">{{reviews.title}}</h3> {# gets title from views.py #}

<div style="color:#483E37" class="card">
    <div class="card-content">
        {{reviews.body}}
    </div>
    <div class="card-action">
        {{reviews.submitted_on}}
    </div>
</div>
<a style="background-color:rgb(68, 68, 68); color:white; font-family:Didact Gothic" class="btn" href="{% url 'index' %}">Go Back</a>
{% endblock %}