{% extends 'reviewapp/layout.html' %}

<h3 style="font-family: GistRoughLightThree; background-color:#A0892C" class="center-align">Sign Up</h3> {# gets title from views.py #}

{% block content %}

    <div class="form-group">
        <div>
            <span class="red-text">{{ field.error }}</span>

        </div>
        <div class="col s3 push-s9 card-panel white">
            <form action=""  method="post" >
                {% csrf_token %}
                {% include 'reviewapp/form-template.html' %}
                <div class="form-group">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
    
        </div>

    </div>

{% endblock %}